<html>
  <head>
    <title>Git Max - About Us</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    <link rel="icon" type="image/png" href="/assets/images/logo.png" sizes="32x32">
  </head>
  <body>
    <table width='100%' border='0' cellpadding="5px">
      <tr> 
      <td align='left' width='20%'> &nbsp;&nbsp; <a style="text-decoration: none;" href="/"><img width="150px" height="49px" src="/assets/images/logo.png" alt="Logo"></a></td>    
      <td border="1px" bordercolor="#bcbcbc" align='center' width='60%'> <a style="text-decoration: none;" href="/"><font size="3" color='#0000'><strong> ⬅ &nbsp; Back Home </strong></font></a> </td>
      <td align='right' width='20%'> </td>
      </tr>
      </table>
      <hr>
    </br>

    <table width='100%' border='0' cellpadding="5px">
    <tr> 
    <td width='20%'> </td>    
    <td>

    <h2><font size="5" color='#0d6bc3'><strong> About </strong></font></h2>

    </br><font size="4" color='#0000'>

      Individually reviewing a large software project's pull requests, issues and active alerts can be hectic for any software developer. 

    </br></br>

      Git Max is an AI powered web app that uses Machine Learning to determine the most relevant Bitbucket project pull requests that require the software developer's urgent attention while filtering out less important pull-requests, profanity and abuse. 

    </br></br>

      Git Max uses a pretrained Machine Learning model that is fine-tuned to identify genuine in-progress Bitbucket project pull requests, while filtering out less important pull-requests, profanity and abuse. 

    </br></br>

      Git Max uses Intel Extension for Scikit-Learn and Pandas to build a Machine Learning Profanity Detection Model that also filters out less important pull-requests. 

    </br></br>

      We build and deploy an application to the Openshift cluster from source code using git access and the s2i technology is used as Builder image.

    </br></br>

      The app runs on Redhat's Openshift Application platform, then plots a graph to notify the developer about the most critical project pull-requests that are worth the developer's time. 
       
    </br></br>

      Code Repository: <a style="text-decoration: none;" href="https://github.com/VakinduPhilliam/GitMax"><font size="4" color='#0d6bc3'><strong> https://github.com/VakinduPhilliam/GitMax </strong></font></a>

    </br></br>

      <p class="copyright">&copy; <script>document.write(new Date().getFullYear());</script>, Git Max

    </font>
    </td>
    <td width='20%'> </td>
  </tr>
  </table>

  </br>

  </body>
</html>

